S3method(braidrm,default)
S3method(braidrm,formula)
S3method(findBestBRAID,default)
S3method(findBestBRAID,formula)
S3method(findBestHill,default)
S3method(findBestHill,formula)
S3method(print,braidrm)
S3method(print,summary.braidrm)
S3method(summary,braidrm)
export(evalHillEqn,invertHillEqn,hillConcCorrect,getHillBootstrap)
export(findBestHill,findBestHill.default,findBestHill.formula)
export(braidrm,braidrm.default,braidrm.formula,print.braidrm,summary.braidrm,print.summary.braidrm)
export(evalBRAIDrsm,invertBRAIDrsm,getBRAIDbootstrap,calcBRAIDconfint)
export(findBestBRAID,findBestBRAID.default,findBestBRAID.formula,runBRAIDanalysis)
importFrom("stats","coef","fitted","lm","model.frame","model.matrix","model.response","optim","quantile","resid","runif")
